.btnStart{
	-fx-graphic:url('../resources/startIcon.png');
	-fx-content-display: top ;
	-fx-background-color: transparent ; 
}
.btnStart:hover{
	-fx-background-color: whitesmoke ;
}

#btnLog{
	-fx-graphic:url('../resources/logIcon.png');
	-fx-content-display: top ;
	-fx-background-color: transparent ; 
}
#btnLog:hover{
	-fx-background-color: whitesmoke ;
}

#btnChart{
	-fx-graphic:url('../resources/chartIcon.png');
	-fx-content-display: top ;
	-fx-background-color: transparent ; 
}
#btnChart:hover{
	-fx-background-color: whitesmoke ;
}





.btnClose{
	
	-fx-graphic:url('../resources/closeIcon.png');
	-fx-content-display: top ;
	-fx-background-color: transparent ; 
}
.btnClose:hover{
	-fx-background-color: #ED5752 ;
}


#btnSetting{
	
	-fx-graphic:url('../resources/settingIcon.png');
	-fx-content-display: top ;
	-fx-background-color: transparent ; 
}
#btnSetting:hover{
	-fx-background-color: aquamarine  ;
}


#btnHome{
	
	-fx-graphic:url('../resources/infoIcon.png');
	-fx-content-display: top ;
	-fx-background-color: transparent ; 
}
#btnHome:hover{
	-fx-background-color: white ;
}
.anchorpane{
	-fx-background-color: #E2DFA2;
}
.anchorpane2{
	-fx-background-color: #EEEEEE;
}

#labelAnswer{
	-fx-border-color:black;
	-fx-border-width: 1 0 0 0;
	-fx-border-style:solid;
	
}



